body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home{
  background-image: url('https://coloredvinylrecords.com/pictures_blog/20181008/36-gift-ideas-for-vinyl-lovers-and-record-collectors-cover.jpg');
  background-repeat: no-repeat;
  background-size: cover
}

.home{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.homecard{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.4);
  height: 500px;
  width: 1000px; 
  background: rgb(26,26,59);
background: linear-gradient(135deg, rgba(26,26,59,0.9251050762101716) 0%, rgba(64,64,67,1) 100%, rgba(0,212,255,1) 100%);
  color: rgba(147, 224, 31, 0.911);
  border-radius: 10px
}

.homecard a {
  color: rgb(214, 220, 224)
}

.mainTitle{
  font-size: 3rem;
  font-family: 'Notable', sans-serif;
  margin-left: 30px
}
.slogan{
  display: flex;
  align-items:flex-end; 
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  margin-left: 70px
}

.getstarted{
  font-family: 'Kanit', sans-serif;
  font-size: 1.7rem;
  margin-left: 400px
}  
